# Ignore all binwalk extraction outputs
_*extracted/
*.extracted/

# Ignore compiled binaries and firmware images (if you only want code)
*.bin
*.hex
*.img
*.txt

# Ignore foremost default output folder
extracted_images/
HF_9850_260513/output
*.png
*.png.webp
!

# Allow specific large files if needed (uncomment below)
# !important_firmware.bin
!modified1.bin
!backup1.bin
!hx330x_sdk.bin
!audit.txt

# OS-specific clutter
.DS_Store
Thumbs.db
